th{
    min-width: 150px;
    font-size: 20px;
    height: 40px;
}

th:nth-child(even) {
  background-color: #f0f0f0;
}

th:nth-child(odd) {
  background-color: #a0a2a8;
}

thead {
  border-bottom: 10px solid white;
  border-top: 30px solid white;
}

table{
  border-collapse: collapse;
   white-space: normal;        /* pozwala łamać linie */
  word-break: break-word;     /* łamie długie słowa */
  overflow-wrap: break-word;  /* nowoczesna wersja */
  
}

tbody{
  border-bottom: 20px solid white
}