.input{
    display: flex;
    gap: 50px;
    justify-content: center;
    
}

input{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid var(--input-border-color1)
}

input:focus {
  border: 2px solid var(--input-border-color2);
  outline: none;   /* usuwa domyślną niebieską obwódkę przeglądarki */
}

td{
    max-width: 150px;
    font-size: 12px;
}

tr:nth-child(even) {
  background-color: var(--table-color1);
}

tr:nth-child(odd) {
  background-color: var(--table-color3);
}

td:last-child{
    max-width: 150px;
    background-color: var(--backgroundColor);
}

.shownButton{
    width: 100px;
}

.invoiceThead th{
    border-top: 10px solid var(--backgroundColor);
}

.invoiceTbody tr {
  background: var(--backgroundColor);
}

.emptyCell{
    background-color: var(--backgroundColor) !important;
}

@media (max-width: 576px) {
    .isHidden{
        display: none;
    }
}


