header{
    display: flex;
    margin: 0 0 40px 0;
    justify-content: space-between;
    align-items: center;
}

button{
    background-color: var(--button-color);
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: transform 1s ease,   background-color 1s ease;
    border: none;
}

button:hover{
     transform: scale(1.075);
     background-color: var(--button-hover-color);
     border: none;
}

.homeDiv{
    margin: 0 auto
}

.buttonsDiv{
     display: flex;
     flex-direction: row;
}

.menu{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 250px;
    justify-content: flex-start;
    align-items: flex-start;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.showSearch{
    display: flex;
    flex-direction: column;
    width: 1200px;
}

.logo{
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.headerDiv{
    display: flex;
    flex-direction: row;
    gap: 50px
}

@media (max-width: 576px) { 
    button{
        width: 90px;
        height: 55px;
        font-size: 12px;
        padding: 0;
    }

    .buttonsDiv{
        flex-direction: column;
        align-items: center;
        gap:20px
    }

    .menu{
        width: 350px;
        gap:5px;
        flex-direction: row;
        justify-content: center;
    }

    h1{
        font-size: 15px;
    }

    .logo{
        width: 100px;
        height: 75px;
    }

    .headerDiv{
        gap: 10px;
        align-items: center;
    }

    header{
        max-width: 560px;
        min-width: 360px;
    }
}

